$border-size: 2px;
$border-style: $border-size solid #a1f4fa;

body,
html {
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  height: 500px;
  width: 500px;
  margin: 50px auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  // border: $border-style;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.row:first-child {
  border-bottom: $border-style;
}

.row:last-child {
  border-top: $border-style;
}

.square {
  display: flex;
  cursor: default;
  color: #B000;
}

.square:first-child {
  border-right: $border-style;
}

.square:last-child {
  border-left: $border-style;
}

.square:hover {
  background-color: #eee;
}

.square-selected.X {
  color: #ff3333;
}

.square-selected.O {
  color: #239bff;
}

.square-selected:hover {
  background-color: inherit;
}

.xo {
  margin: auto;
  font-size: 52px;
}
